* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

nav {
  background-color: rgba(217, 217, 217, 1);
  margin-bottom: 25px;
  font-size: 16px;
}

nav #menu_btn {
  display: none;
  height: 100%;
  width: 50px;
  background-color: transparent;
  border: none;
  font-size: 24px;
}
nav a {
  margin-right: 15px;
  color: black;
  text-decoration: none;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav img {
  max-width: 50px;
  object-fit: cover;
}

/* Main content */

header {
  text-align: center;
  overflow: hidden;
  background-image: url("../resource/header-img.png");
  min-height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  display: flex;
  justify-content: center;
  background-size: cover;
  margin: 0 25px 50px;
}

header .container {
  background-color: rgba(15, 15, 15, 0.8);
  color: white;
  padding: 30px 50px;
}

main .container {
  max-width: 85%;
  width: 100%;
  margin: 10px auto 35px;
}
main {
  text-align: center;
  margin-bottom: 100px;
}

main p {
  max-width: 60%;
  margin: auto;
}

main button {
  padding: 10px 25px;
}

main .small-container {
  margin-top: 15px;
  margin-bottom: 50px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.card {
  width: 170px;
  height: 200px;
  border: 1px solid black;
}

.card img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.card:hover .overlay {
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.card .overlay {
  background-color: rgba(0, 0, 0, 0.807);
  position: relative;
  transform: translateY(-101%);
  z-index: 12;
  height: 201px;
  opacity: 0;
}

.overlay {
  color: white;
  display: flex;
  align-items: center;
  font-size: 24px;
}

footer {
  display: flex;
  background-color: rgba(217, 217, 217, 1);
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}

footer img {
  max-width: 150px;
}

footer .small-container {
  display: flex;
  align-items: center;
}
footer .socials {
  text-align: center;
}

/* media queries / responsiveness */

@media only screen and (max-width: 700px) {
  nav {
    margin-bottom: 0;
  }
  header {
    width: 100%;
    margin: 0;
  }
  .programs {
    flex-direction: column;
  }

  .card {
    width: 100%;
  }
  main p,
  main .container {
    max-width: 90%;
  }
  footer {
    flex-direction: column;
    margin: auto;
    align-items: start;
    padding: 10px;
  }

  footer .small-container {
    max-width: 80%;
    max-height: 30%;
    margin: 10px;
  }

  footer img {
    max-width: 100px;
  }
}

@media only screen and (max-width: 450px) {
  #logo {
    display: none;
  }
  nav {
    height: 50px;
  }
  nav #menu_btn {
    display: block;
  }
  nav ul {
    position: relative;
    flex-direction: column;
    align-items: start;
    background-color: white;
    padding: 0 5px;
    width: 100%;
    max-height: 8rem;
    z-index: 12;
    border-bottom: 1px solid black;
    transition: all 2s;
    overflow: hidden;
  }
  nav li {
    margin-top: 7px;
    background-color: white;
    font-size: 18px;
  }
  .close {
    height: 0px;
  }
}
